= form_for Solution.new do |f|  
  - @questions.each_with_index do |question, index|
    %p 
      = "#{index + 1})" 
      = question.exact_question
      = correct_answers(question) 
      %p
        - question.answers.shuffle.each_with_index  do |answer, i|
          = "#{@a_z[i]})"
          = answer.exact_answer
          = check_box_tag "#{answer.id}", question.id, checked_answers(answer)
          = f.hidden_field :test_id, value: @test.id
          = f.hidden_field :user_id, value: current_user.id
  = f.submit "Answer questions"
= params[:score]
- if @next && percents
  = link_to "Next >", live_test_path(@next)
= current_user.solutions.count
%p
  Your max score:
  = @max_score
